body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient( rgb(94, 137, 255) 0%, rgb(151, 243, 253) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  cursor: pointer;
}
